<div class="schedule">
  <div class="background">
	  <header>
	     <h1>station name</h1>
	  </header>
  </div>
  <nav>
  	<li><%= link_to "Lindenwold" %></li>
  	<li><%= link_to "Ashland" %></li>
  	<li><%= link_to "Woodcrest" %></li>
  	<li><%= link_to "Haddonfield" %></li>
  	<li><%= link_to "Westmont" %></li>
  	<li><%= link_to "Collingswood" %></li>
  	<li><%= link_to "Ferry Ave" %></li>
  	<li><%= link_to "Broadway" %></li>
  	<li><%= link_to "City Hall" %></li>
  	<li><%= link_to "8TH - Market" %></li>
  	<li><%= link_to "10TH - Locust" %></li>
  	<li><%= link_to "13TH - Locust" %></li>
  	<li><%= link_to "16TH - Locust" %></li>
  </nav>

  <p>Please select a station to view departure times<p>

</div>